# Auto detect text files and perform LF normalization
* text=auto

# Source code files
*.cs		text merge=text diff=csharp eol=crlf
*.csproj	text merge=text diff=text eol=crlf
*.targets	text merge=text diff=text eol=crlf ident
*.sln		text merge=text diff=text eol=crlf
